body {
	background-color: antiquewhite;
}

#logo {
	background-image: url(../images/logo.jpg);
	background-color: white;
	background-repeat: no-repeat;
	background-position: 50%;
	height: 180px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	min-width: 800px;
}

#menu {
	height: 45px;
	position: center;
	overflow: hidden;
	text-align: center;
	position: relative;
	background-color: yellow;
	margin-left: 10%;
	margin-right: 10%;
	min-width: 800px;
}
#menu ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu ul {
	text-align: center;
	border-bottom: 1px solid #888;
	padding-bottom: 5px;
}
#menu ul li {
	display: inline;
	white-space: nowrap;
	margin-right: 5px;
}
#menu ul a:link, ul a:visited {
	text-decoration: none;
	background-color: #ccc;
	color: #000;
	border: 1px solid #888;
	padding: 5px;
}
#menu ul a:hover {
	background-color: #fff;
	border-bottom-color: #fff;
}

#canvas{
	background-color: #black;
	margin-left: 10%;
	margin-right: 10%;
	min-width: 800px;
}

#panel{
	background-color: #A8A8A8;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	width: 20%;
}
#panelName{
	color: white;
	text-align: center;
	background-image: url(../images/glossy_buttons/panel.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#content {
	background-color: #ccc;
	float: left;
	width: 76%;
	margin-right: 1%;
	margin-left: 1%;
}
#content p{
	text-align: center;
}

#news_input{
	width: 180px;
	height: 180px;
}

#usersTable table{
	border-collapse: collapse;
}

#usersTable  th{
    border: 1px solid black;
}
#usersTable td {
    border: 1px solid black;
}

#borrowsTable table{
	border-collapse: collapse;
}
#borrowsTable  th{
    border: 1px solid black;
}
#borrowsTable td {
    border: 1px solid black;
}

#booksTable table{
	border-collapse: collapse;
}
#booksTable  th{
    border: 1px solid black;
}
#booksTable td {
    border: 1px solid black;
}

#loggedTable table{
	border-collapse: collapse;
}
#loggedTable  th{
    border: 1px solid black;
}
#loggedTable td {
    border: 1px solid black;
}

#status_login{
font-size:11px;
margin-left:10px;
}
.green{
background-color:#CEFFCE;
}
.red{
background-color:#FFD9D9;
}
#status_email{
font-size:11px;
margin-left:10px;
}
#status_password{
font-size:11px;
margin-left:10px;
}